# Neon Auth (Sprint 3+)
VITE_NEON_AUTH_URL=https://ep-wispy-pond-b34jwwoo.neonauth.c-4.ap-southeast-1.aws.neon.tech/neondb/auth

# Server-side only (Sprint 4+)
DATABASE_URL=postgresql://neondb_owner:npg_nO5hHykFl3Lc@ep-wispy-pond-b34jwwoo-pooler.c-4.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
NEON_AUTH_URL=https://ep-wispy-pond-b34jwwoo.neonauth.c-4.ap-southeast-1.aws.neon.tech/neondb/auth
